<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="/fragments/template :: head"> </head>

  <body>
    <header th:replace="fragments/menu :: navbar"></header>
    <div class="container">
      <h1 class="text-center">Cuentas</h1>
       <div
        class="alert alert-success alert-succes fade show"
        role="alert"
        th:if="${guardado!=null}"
      >
        <strong th:text="${guardado}"></strong>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <a
        class="btn btn-primary"
        th:href="@{/cuentas/form}"
        th:if="${session.usuario.rol=='ADMON'}"
        ><i class="fas fa-plus-circle"></i
      ></a>
      <table class="table table-bordered table-hover">
        <thead class="table-dark text-center">
          <tr>
            <th scope="col">Código Cuenta</th>
            <th scope="col">Nombre Cuenta</th>
            <th scope="col">Estado</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="cuenta:${listaCuentas}">
            <td scope="row" th:text="${cuenta.codigo}"></td>
            <td th:text="${cuenta.nombreCta}"></td>
            <td th:text="${cuenta.estado?'Activa':'Inactiva'}"></td>
            <td>
              <a
                class="btn btn-primary"
                th:href="@{/}"
                ><i class="fas fa-file-alt"></i
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <i class="bi bi-alarm-fill"></i>
    <th:block th:replace="/fragments/template :: scripts"> </th:block>
  </body>
</html>
