<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/template :: head"> </head>
  <header th:replace="fragments/menu :: navbar"></header>

  <body>
    <div class="container-fluid">
      <div class="card mt-5 ms-5" style="width: 40rem">
        <div class="card-body">
          <h5 class="card-title">Formulario</h5>
          <h6 class="card-subtitle mb-2 text-muted">Clientes</h6>
          <form
            th:object="${cliente}"
            th:action="@{/clientes/guardar}"
            method="post"
          >
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <!-- Text input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="cedula">Cedula</label>
              <input type="text" th:field="*{cedula}" class="form-control" />
            </div>

            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="nombre">Nombre</label>
                  <input
                    type="text"
                    th:field="*{nombre}"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="apellido">Apellido</label>
                  <input
                    type="text"
                    th:field="*{apellido}"
                    class="form-control"
                  />
                </div>
              </div>
            </div>

            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="password">Password</label>
                  <input
                    type="text"
                    th:field="*{password}"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="form-outline">
                <label class="form-label" for="rol">Rol</label>
                <select class="form-select" th:field="*{rol}">
                  <option value="">Seleccionar</option>
                  <option value="ADMON">Administrador</option>
                  <option value="CLIENTE">Cliente</option>
                </select>
              </div>
            </div>

            <!-- Text input -->
            <div class="form-outline">
              <label class="form-label" for="direccion">Dirección</label>
              <input type="text" th:field="*{direccion}" class="form-control" />
            </div>

            <!-- Text input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="telefono">Teléfono</label>
              <input type="tel" th:field="*{telefono}" class="form-control" />
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="codCiudad">Ciudad</label>
              <select class="form-select" th:field="*{codCiudad}">
                <option value="">Seleccionar</option>
                <option
                  th:each="ciudad : ${ciudades}"
                  th:value="${ciudad.codigo}"
                  th:text="${ciudad.nombre}"
                ></option>
              </select>
            </div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">
              Guardar
            </button>
            <a class="btn btn-primary btn-block mb-4" th:href="@{/clientes/}"
              >Cancelar</a
            >
          </form>
        </div>
      </div>
    </div>
  </body>
  <th:block th:replace="fragments/template :: scripts"> </th:block>
</html>
